<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

            <section id="about" >
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h2>山梨大学競技プログラミング部へようこそ</h3>
                    </div>
                    <div class="col-md-12 text-center">
                      <br><br>
                      <font size="4">
                      <p>山梨大学競技プログラミング部は，2018年10月23日に設立された公認サークル<sup><a href="">1</a></sup>です．</p>
                      <p>私達は，競技プログラミング（通称競プロ）をテーマに活動しています．</p>
                    </font>
                    </div>
                  </div>
                </div>
            </section>

            <section id="activities" class="bg-gray">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2>活動</h2>
                  </div>
                  <div class="col-md-12">
                    <ul><h3>活動内容</h3></ul>
                    <li>アルゴリズムの講習</li>
                    <li>競プロ問題の練習</li>
                    <li>プログラミングコンテストの参加</li>
                    <ul><h3>活動日程</h3></ul>
                    <table class="table table-bordered">
                      <tr>
                        <th>曜日</th>
                        <th>時間</th>
                        <th>内容</th>
                      </tr>
                      <tr>
                        <th>月</th>
                        <th>16:30-20:00</th>
                        <th>バーチャルコンテスト</th>
                      </tr>
                      <tr>
                        <th>水</th>
                        <th>16:30-20:00</th>
                        <th>アルゴリズム講座</th>
                      </tr>
                      <tr>
                        <th>金</th>
                        <th>16:30-20:00</th>
                        <th>自習練習</th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </section>

            <section id="achievement" >
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2>実績</h2>
                  </div>
                  <div class="col-md-12">
                    <ul><a href="https://icpc.iisf.or.jp/acm-icpc/"><h3>ACM-ICPC アジア地区</h3></a></ul>
                    <table class="table table-bordered">
                      <tr>
                        <th>時間</th>
                        <th>場所</th>
                        <th>順位</th>
                        <th>チーム</th>
                        <th>チームメンバー</th>
                        <th>コーチ</th>
                      </tr>
                      <tr>
                        <th>2019</th>
                        <th>横浜</th>
                        <th>42 位</th>
                        <th>thx_yucpc</th>
                        <th>Toga Hango Xuelei</th>
                        <th>commy</th>
                      </tr>
                      <tr>
                        <th>2018</th>
                        <th>横浜</th>
                        <th>30 位</th>
                        <th>AtComleader</th>
                        <th>commy ? ?</th>
                        <th>美濃先生</th>
                      </tr>
                    </table>  
                    <br>
                    <ul><a href="https://products.sint.co.jp/pg_battle_2019"><h3>PG-BETTLE</h3></a></ul>
                    <table class="table table-bordered">
                      <tr>
                        <th>時間</th>
                        <th>順位</th>
                        <th>チーム</th>
                        <th>チームメンバー</th>
                      </tr>
                      <tr>
                        <th>2019</th>
                        <th>55 位（学校の部）</th>
                        <th>yucpc</th>
                        <th>commy hango xuelei</th>
                      </tr>
                      <tr>
                        <th>2018</th>
                        <th>13 位（学校の部）</th>
                        <th>yucpc</th>
                        <th>commy hango xuelei</th>
                      </tr>
                    </table>  
                    <br>
                    <ul><a href="https://codingcompetitions.withgoogle.com/hashcode"><h3>Google Hash Code</h3></a></ul>
                    <table class="table table-bordered">
                      <tr>
                        <th>時間</th>
                        <th>点数</th>
                        <th>世界順位</th>
                        <th>チーム</th>
                      </tr>
                      <tr>
                        <th>2019</th>
                        <th>409321 点</th>
                        <th>1882/4837 位</th>
                        <th>yucpc</th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </section>

            <section id="members" class="bg-gray">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2>メンバー</h2>
                  </div>
                    <table class="table table-bordered">
                      <tr>
                        <th>名前</th>
                        <th>アカウント</th>
                        <th>役職</th>
                      </tr>
                      <tr>
                        <th>commy
                          <a target="_blank" href="https://twitter.com/c_ry0ta" class="link twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </th>
                        <th><a style="color:#00f;" href="https://atcoder.jp/users/commy">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>dreamerspark
                          <a target="_blank" href="https://twitter.com/dreamerspark" class="link twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </th>
                        <th><a style="color:#eee;" href="https://atcoder.jp/users/dreamerspark">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>fiftysevenTGGX
                          <a target="_blank" href="https://twitter.com/57tggx" class="link twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </th>
                        <th><a style="color:#00f;" href="https://atcoder.jp/users/fiftysevenTGGX">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>hango</th>
                        <th><a style="color:#0ff;" href="https://atcoder.jp/users/hango">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>Mask</th>
                        <th><a style="color:#A35A2A;" href="https://atcoder.jp/users/Mask">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>maodao</th>
                        <th><a style="color:#0b0;" href="https://atcoder.jp/users/maodao">atcoder</a></th>
                        <th>副部長 ホームページ</th>
                      </tr>
                      <tr>
                        <th>muushi
                          <a target="_blank" href="https://twitter.com/shinkirou_507" class="link twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </th>
                        <th><a style="color:#eee;" href="https://atcoder.jp/users/muushi">atcoder</a></th>
                        <th>会場</th>
                      </tr>
                      <tr>
                        <th>shikachii
                          <!--<a target="_blank" href="https://twitter.com/" class="link twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i></a>-->
                        </th>
                        <th><a style="color:#0b0;" href="https://atcoder.jp/users/shikachii">atcoder</a></th>
                        <th>広報</th>
                      </tr>
                      <tr>
                        <th>t16cs039</th>
                        <th><a style="color:#eee;" href="https://atcoder.jp/users/t16cs039">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>taka_ryon</th>
                        <th><a style="color:#eee;" href="https://atcoder.jp/users/taka_ryon">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>teikai</th>
                        <th><a style="color:#eee;" href="https://atcoder.jp/users/teikai">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>xuelei
                          <a target="_blank" href="https://twitter.com/xuelei7" class="link twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </th>
                        <th><a style="color:#00f;" href="https://atcoder.jp/users/xuelei">atcoder</a>&emsp;&emsp;
                          <a style="color:#00f;" href="https://codeforces.com/profile/xuelei">codeforces</a>&emsp;&emsp;
                          <a style="color:#0b0;" href="https://www.topcoder.com/members/xuelei/">topcoder</a></th>
                        <th>部長</th>
                      </tr>
                      <tr>
                        <th>YamaRio</th>
                        <th><a style="color:#eee;" href="https://atcoder.jp/users/YamaRio">atcoder</a></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>yyyy52
                          <a target="_blank" href="https://twitter.com/yuanyingxuan" class="link twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i></a>
                          </th>
                        <th><a style="color:#A35A2A;" href="https://atcoder.jp/users/yyyy52">atcoder</a></th>
                        <th>ホームページ 企画</th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </section>

            <section id="achievement" >
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2>Q&A</h2>

                  </div>
                  <div class="col-md-12">
                    {{ .Content | markdownify}}
                  </div>
                </div>
              </div>
            </section>

        {{ partial "footer.html" . }}


    <!-- /#all -->

    {{ partial "scripts.html" . }}
  </body>
</html>
