<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

            <section id="about" >
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h3>山梨大学競技プログラミング部へようこそ</h3>
                      <p>山梨大学競技プログラミング部は，2018年10月23日に設立された公認サークルです．</p>
                      <p>私達は，競技プログラミング（通称競プロ）をテーマに活動しています．</p>
                    </div>
                  </div>
                </div>
            </section>

            <section id="activities" class="bg-secondary">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h3>山梨大学競技プログラミング部へようこそ</h3>
                    weqeqweqe
                  </div>
                </div>
              </div>
            </section>

            <section id="achievement" >
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    
                  </div>
                </div>
              </div>
            </section>
              
            <section id="member" class="lightgray"></section>

        {{ partial "footer.html" . }}


    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
